@import '../../../sass/app-dimensions';
@import '../../../sass/app-responsive';
@import '../../../sass/colors';
@import '../../../sass/mixins/flexbox';
@import '../../../sass/mixins/transition';

.grid-wrapper, .grid-wrapper > a {
  @include flex; @include flex-wrap(wrap);
  @include transition(0.2s);
  width: 100%;

  & > * {
    @include transition(0.2s);

    & > p {
      margin-left: 20px;
      margin-right: 20px;
    }

    &.centered {
      @include flex; @include align-items(center); @include justify-center;
    }

    &.column {
      @include flex-column;
    }

    &.should-scroll {
      max-height: calc(100vh - 60px);
      overflow-y: scroll;
    }
  }

  & > .fifth-item {
    width: 20%;
    min-height: 10vw;
  }

  & > .quarter-item {
    width: 25%;
    min-height: 10vw;
  }

  & > .half-item {
    width: 50%;
    min-height: 20vw;
  }

  & > .three-quarter-item {
    width: 75%;
    min-height: 20vw;
  }

  & > .four-fifths-item {
    width: 80%;
    min-height: 20vw;
  }

  & > .full-item {
    width: 100%;
  }
}

.grid-item-link {

  &:hover {
    background-color: $blue-grey-400;
  }
}