@import '../../../sass/app-dimensions';
@import '../../../sass/app-responsive';
@import '../../../sass/colors';
@import '../../../sass/diablo-2';
@import '../../../sass/mixins/flexbox';

#items-view {
  min-height: calc(100vh - $navbar-height);
  width: 100%;
  margin: 0px auto;
  max-width: 1920px;
  
  @include respond-to-breakpoint(2560px) {
    // max-width: 1920px;
  }
}

#items-view > section, #items-view * section {
  padding: 20px;

  &.bg-grey-100 {
    background-color: $grey-100;
  }
  &.bg-grey-200 {
    background-color: $grey-200;
  }
  &.bg-grey-400 {
    background-color: $grey-400;
  }
  &.bg-grey-600 {
    background-color: $grey-600;
  }
}